<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>여행지 추가</h1>
   <form action="/travel" method="post">
      <label for="name">여행지 이름 : </label>
      <input type="text" id="name" name="name" required>
      <button type="submit">추가</button>
   </form>
</body>
</html>