<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>여행지 수정</title>
</head>
<body>
    <h1>여행지 수정</h1>
    <form action="/travel/<%=travel.id %>?_method=PUT" method="POST">
        <input type="text" name="name" id="name" value="<%=travel.name %>" required>
        <button type="submit">수정</button>
    </form>
</body>
</html>