<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>여행지 목록</title>
</head>
<body>
    <h1>여행지 목록</h1>
    <ul>
        <% travelList.forEach(travel => { %>
            <li>
                <%= travel.name %>
            </li>
        <% })%>
    </ul>
</body>
</html>